src/wsdl/localhost_7001/JAXWS_CalcService/Calculator.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.8-b13937 svn-revision#13942. --><xsd:schema xmlns:ns0="http://jaxws_calcservice.opal.ortecfinance.nl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://jaxws_calcservice.opal.ortecfinance.nl/"><xsd:complexType name="hello"><xsd:sequence><xsd:element name="name" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="addResponse"><xsd:sequence><xsd:element name="return" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:complexType name="helloResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="add"><xsd:sequence><xsd:element name="arg0" type="xsd:int"/><xsd:element name="arg1" type="xsd:int"/></xsd:sequence></xsd:complexType><xsd:element name="hello" type="ns0:hello"/><xsd:element name="addResponse" type="ns0:addResponse"/><xsd:element name="helloResponse" type="ns0:helloResponse"/><xsd:element name="add" type="ns0:add"/></xsd:schema>